body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    margin-left: auto;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu li {
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    text-align: center;
}

#logoGoogle {
    margin-bottom: 20px;
}

#searchContainer {
    width: 100%;
    max-width: 1300px;
    text-align: center;
}

.searchBar {
    width: calc(190% - 40px); 
    max-width: 1300px; 
    padding: 10px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto 15px -120px;
}

.searchButton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.searchButton:hover {
    box-shadow: 1px 1px 1px 1px #bababa;
}

#logoAdvanced{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 90px;
    height: auto;
}

/* Advanced search styles */

.advanced-search-container {
    /* margin: 50px 40px; */
  }
  .advanced-search-container label {
    display: inline-block;
    width: auto;
    font-size: 18px;
    text-align: left;
  }
  .advanced-search-container .whitespace {
    display: inline-block;
    width: 65%;
  }
  .advanced-search-container .form-group {
    text-align: left;
    display: flex;
    align-items: left;
    margin-top: 10px;
    padding: 10px 0;
  }
  .advanced-search-container .form-group label {
    width: 16%;
    font-size: 14px;
  }
  .advanced-search-container .form-group input[type=text] {
    width: 49%;
    padding: 2px 0;
  }
  .advanced-search-container .form-group .clarification {
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
  }
  .advanced-search-container .form-group .clarification .monospace {
    font-family: monospace;
  }
  .advanced-search-container .form-group .right-align {
    width: 50%;
  }

  .advanced-search-container .boxHeader{
    margin-right: 47.2%;
    margin-left: -3%;
  }

  #advancedButton{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    cursor: pointer;
  }